.App {
  text-align: center;
  margin:20px 0px;
}

canvas {
  position: relative;
  margin-top: 40px;
  animation-name: mymove;
  animation-duration: 5s;
  animation-iteration-count: 2;
}
@keyframes mymove {
  0%   {left: 0px; top: 0px;}
  25%  {left: 200px; top: 0px;}
  50%  { left: 200px; top: 200px;}
  75%  { left: 0px; top: 200px;}
  100% { left: 0px; top: 0px;}
}